.image {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: auto;
    max-height: 32vw;
  }
  .image-gallery-slide img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.fullscreen .image-gallery-slide img {
    max-height: 100vh;
}